/* 
  ==============================================================================
  Tailwind CSS Type Scale Definitions
  ==============================================================================

  This file defines a custom type scale using Tailwind CSS for consistent 
  typography throughout the SplitShifts web application. The type scale is 
  categorized into Display, Headline, Title, Label, and Body fonts, each with 
  variations in size, weight, and letter spacing.

  Type Scale Overview:
  --------------------
  - Display Fonts: Used for large, prominent text elements. The "Inter" 
    font is applied with weights of 800, and sizes vary from large to small.
  
  - Headline Fonts: Suitable for headlines and section titles. Uses the "Space 
    Grotesk," but with a lighter weight of 450 to differentiate from Display fonts.
  
  - Title Fonts: Applied to smaller, significant text elements like titles and 
    subtitles. The "Inter" font is used here with a weight of 500, with a more 
    prominent variant available.
  
  - Label Fonts: Utilized for form labels and UI elements that require clarity. 
    "Inter" is used with weights of 500 and a prominent variant at 600 for emphasis.
  
  - Body Fonts: Intended for body text across the application. The "Inter" font 
    at a weight of 400 is used to maintain readability.

  Tailwind's @layer Feature:
  ---------------------------
  - @layer base: This is where the type scale classes are defined, applying the 
    corresponding font family, weight, size, and letter spacing. This structure 
    ensures that typography remains consistent across all components in the 
    application.

  Example Usage:
  --------------
  - Classes such as .typescale-display-large, .typescale-headline-medium, 
    .typescale-title-small, etc., can be applied directly to HTML elements 
    to ensure they adhere to the defined type scale.
*/


@tailwind base;

@layer base {
  /* Display Fonts */
  .typescale-display-large,
  .typescale-display-medium,
  .typescale-display-small {
    @apply font-inter;
    font-weight: 800;
  }
  .typescale-display-large {
    @apply text-display-lg;
    letter-spacing: 0.25px;
  }
  .typescale-display-medium {
    @apply text-display-md;
    letter-spacing: 0px;
  }
  .typescale-display-small {
    @apply text-display-sm;
    letter-spacing: 0px;
  }
  .typescale-headline-large,
  .typescale-headline-medium,
  .typescale-headline-small {
    @apply font-space-grotesk;
    font-weight: 450;
  }

  /* Headline Fonts */
  .typescale-headline-large {
    @apply text-headline-lg;
    letter-spacing: 0px;
  }
  .typescale-headline-medium {
    @apply text-headline-md;
    letter-spacing: 0px;
  }
  .typescale-headline-small {
    @apply text-headline-sm;
    letter-spacing: 0px;
  }

  /* Title Fonts  */
  .typescale-title-large,
  .typescale-title-medium,
  .typescale-title-small {
    @apply font-inter;
    font-weight: 500;
  }
  .typescale-title-large {
    @apply text-title-lg;
    letter-spacing: 0px;
  }
  .typescale-title-large-prominent {
    @apply text-title-lg;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .typescale-title-medium {
    @apply text-title-md;
    letter-spacing: 0.15px;
  }
  .typescale-title-small {
    @apply text-title-sm;
    letter-spacing: 0.1px;
  }
  .typescale-title-small-prominent {
    @apply text-title-sm;
    letter-spacing: 0.1px;
    font-weight: 600;
  }
  /* Label Fonts */

  .typescale-label-large,
  .typescale-label-medium,
  .typescale-label-small {
    @apply font-inter;
    font-weight: 500;
  }
  .typescale-label-large {
    @apply text-label-lg;
    letter-spacing: 0.1px;
  }
  .typescale-label-large-prominent {
    @apply text-label-lg;
    letter-spacing: 0.1px;
    font-weight: 600;
  }
  .typescale-label-medium {
    @apply text-label-md;
    letter-spacing: 0.5px;
  }
  .typescale-label-medium-prominent {
    @apply text-label-md;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  .typescale-label-small {
    @apply text-label-sm;
    letter-spacing: 0.5px;
  }

  /* Body Fonts */

  .typescale-body-large,
  .typescale-body-medium,
  .typescale-body-small {
    @apply font-inter;
    font-weight: 400;
  }
  .typescale-body-large {
    @apply text-body-lg;
    letter-spacing: 0px;
  }
  .typescale-body-medium {
    @apply text-body-md;
    letter-spacing: 0.25px;
  }
  .typescale-body-small {
    @apply text-body-sm;
    letter-spacing: 0.4px;
  }
}
